<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name><servlet>
		<servlet-name>ShowTopServlet</servlet-name>
		<display-name>ShowTopServlet</display-name>
		<description></description>
		<servlet-class>ShowTopServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>practiveServlet</servlet-name>
		<display-name>practiveServlet</display-name>
		<description></description>
		<servlet-class>practiveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BasicCourseDataServlet</servlet-name>
		<display-name>BasicCourseDataServlet</display-name>
		<description></description>
		<servlet-class>BasicCourseDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MovieDataServlet</servlet-name>
		<display-name>MovieDataServlet</display-name>
		<description></description>
		<servlet-class>MovieDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForumDataServlet</servlet-name>
		<display-name>ForumDataServlet</display-name>
		<description></description>
		<servlet-class>ForumDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartDataServlet</servlet-name>
		<display-name>ChartDataServlet</display-name>
		<description></description>
		<servlet-class>ChartDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>modalServlet</servlet-name>
		<display-name>modalServlet</display-name>
		<description></description>
		<servlet-class>modalServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>indexServlet</servlet-name>
		<display-name>indexServlet</display-name>
		<description></description>
		<servlet-class>indexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BeforeSurveyServlet</servlet-name>
		<display-name>BeforeSurveyServlet</display-name>
		<description></description>
		<servlet-class>BeforeSurveyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AfterSurveyServlet</servlet-name>
		<display-name>AfterSurveyServlet</display-name>
		<description></description>
		<servlet-class>AfterSurveyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourseActiveDataServlet</servlet-name>
		<display-name>CourseActiveDataServlet</display-name>
		<description></description>
		<servlet-class>CourseActiveDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>analysisServlet</servlet-name>
		<display-name>analysisServlet</display-name>
		<description></description>
		<servlet-class>analysisServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadStudentServlet</servlet-name>
		<servlet-class>DownloadStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AnalysisStudentServlet</servlet-name>
		<display-name>AnalysisStudentServlet</display-name>
		<description></description>
		<servlet-class>AnalysisStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AnalysisCourseServlet</servlet-name>
		<display-name>AnalysisCourseServlet</display-name>
		<description></description>
		<servlet-class>AnalysisCourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AnalysisGroupServlet</servlet-name>
		<display-name>AnalysisGroupServlet</display-name>
		<description></description>
		<servlet-class>AnalysisGroupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>certificateServlet</servlet-name>
		<display-name>certificateServlet</display-name>
		<description></description>
		<servlet-class>certificateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GlossaryServlet</servlet-name>
		<display-name>GlossaryServlet</display-name>
		<description></description>
		<servlet-class>GlossaryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>studentInfoServlet</servlet-name>
		<display-name>studentInfoServlet</display-name>
		<description></description>
		<servlet-class>studentInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadStudentStudyServlet</servlet-name>
		<display-name>DownloadStudentStudyServlet</display-name>
		<description></description>
		<servlet-class>DownloadStudentStudyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VideoTimeAnalysis</servlet-name>
		<display-name>VideoTimeAnalysis</display-name>
		<description></description>
		<servlet-class>VideoTimeAnalysis</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AnalysisVideoServlet</servlet-name>
		<display-name>AnalysisVideoServlet</display-name>
		<description></description>
		<servlet-class>AnalysisVideoServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>CourseStatisticsServlet</servlet-name>
		<display-name>CourseStatisticsServlet</display-name>
		<description></description>
		<servlet-class>CourseStatisticsServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>ShowTopServlet</servlet-name>
		<url-pattern>/ShowTopServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>practiveServlet</servlet-name>
		<url-pattern>/practiveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BasicCourseDataServlet</servlet-name>
		<url-pattern>/BasicCourseDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MovieDataServlet</servlet-name>
		<url-pattern>/MovieDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForumDataServlet</servlet-name>
		<url-pattern>/ForumDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartDataServlet</servlet-name>
		<url-pattern>/ChartDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>modalServlet</servlet-name>
		<url-pattern>/modalServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>indexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BeforeSurveyServlet</servlet-name>
		<url-pattern>/BeforeSurveyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AfterSurveyServlet</servlet-name>
		<url-pattern>/AfterSurveyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseActiveDataServlet</servlet-name>
		<url-pattern>/CourseActiveDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>analysisServlet</servlet-name>
		<url-pattern>/analysisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/DownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadStudentServlet</servlet-name>
		<url-pattern>/DownloadStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalysisStudentServlet</servlet-name>
		<url-pattern>/AnalysisStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalysisCourseServlet</servlet-name>
		<url-pattern>/AnalysisCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalysisGroupServlet</servlet-name>
		<url-pattern>/AnalysisGroupServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>certificateServlet</servlet-name>
		<url-pattern>/certificateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GlossaryServlet</servlet-name>
		<url-pattern>/GlossaryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>studentInfoServlet</servlet-name>
		<url-pattern>/studentInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadStudentStudyServlet</servlet-name>
		<url-pattern>/DownloadStudentStudyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoTimeAnalysis</servlet-name>
		<url-pattern>/VideoTimeAnalysis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalysisVideoServlet</servlet-name>
		<url-pattern>/AnalysisVideoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseStatisticsServlet</servlet-name>
		<url-pattern>/CourseStatisticsServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>fcu</role-name>
			<role-name>admin</role-name>
			<role-name>manager</role-name>
			<role-name>tomcat</role-name>
		</auth-constraint>

		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<role-name>fcu</role-name>
	</security-role>
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<role-name>manager</role-name>
	</security-role>
	<security-role>
		<role-name>tomcat</role-name>
	</security-role>
</web-app>